.custom-modal-ipeye header{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.md-dialog.md-theme-default {
    border-radius: 4px;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    color: #000!important;
}

a:hover {
    color: #000!important;
}

.hide{
    display: none;
}

.trigger-custom{
    padding:10px 20px;
    border-radius:3px;
    border:0;
    background:#ccc;
    font-size:14px;
    border-top:1px solid #FFF;
    border-bottom:1px solid #aaa;
    cursor:pointer;
}
.trigger-custom:hover{
    background:#d5d5d5;
}

.custom-modal-ipeye header{
    overflow: hidden;
    width: 100%;
    padding: 25px;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}
.custom-modal-ipeye header a{
    display: block;
    float: left;
    width: 50%;
    padding: 0;
    text-align: center;
    background: #ddd;
    color: #999;
    height: 73px;
    vertical-align: middle;
    line-height: 73px;
}
.custom-modal-ipeye header a.active{
    background: #fff;
    color: #777;
}
.custom-modal-ipeye section{
    padding: 30px;
}
.custom-modal-ipeye section input:not([type="checkbox"]), .custom-modal-ipeye section button{
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-bottom: 26px;
    padding: 15px;
    font-size: 14px;
}
.custom-modal-ipeye section button{
    height: 46px;
    padding: 0;
}
.custom-modal-ipeye section input:focus{
    border-color:#656565;
}
.custom-modal-ipeye section label[for="check"]{
    margin-bottom: 26px;
    font-size: 14px;
    color: #999;
    display: block;
}
.custom-modal-ipeye section footer{
    overflow: hidden;
}
/*.custom-modal-ipeye section button{*/
/*    background: #28CA97;*/
/*    color: white;*/
/*    margin: 0;*/
/*    border: 0;*/
/*    cursor: pointer;*/
/*    width: 50%;*/
/*    float: left;*/
/*}*/
/*.custom-modal-ipeye section button:hover{*/
/*    opacity: 0.8;*/
/*}*/
/*.custom-modal-ipeye section button:nth-child(1){*/
/*    border-radius: 3px 0 0 3px;*/
/*    background: #aaa;*/
/*}*/
/*.custom-modal-ipeye section button:nth-child(2){*/
/*    border-radius: 0 3px 3px 0;*/
/*}*/

.custom-modal-ipeye .icon-close{
    background: #FFF;
    margin-bottom: 10px;
    position: absolute;
    right: -8px;
    top: -8px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 0;
    color: #a9a9a9;
    cursor: pointer;
}
.custom-modal-ipeye  .icon-close:hover, .custom-modal-ipeye  .icon-close:focus{
    color: black;
}



@-webkit-keyframes wobble {
    from {
        -webkit-transform: none;
        transform: none;
    }

    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes wobble {
    from {
        -webkit-transform: none;
        transform: none;
    }

    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

.wobble {
    -webkit-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}